:root {
    // colors
    --violet: #512689;
    --black: #151317;
    --gray: #808185;
    --gray_light: #f8f8f8;
    --gray_light_tr: rgba(248, 248, 248, 0.4);
    --red: #ff6161;
    --white: #fff;

    // sizes
    --navbar-height: 256px;

    // font
    --font-family: 'Roboto', sans-serif;
    --font-big: 32px / 42px var(--font-family);
    --font-regular: 16px / 24px var(--font-family);
    --font-small: 14px / 18px var(--font-family);
    --font-h1: 64px / 75px var(--font-family);
    --font-h2: 20px / 22px var(--font-family);

    // screen
    --screen-sm: 576px;
    --screen-md: 768px;
    --screen-lg: 992px;
    --screen-lx: 1200px;
    --screen-xxl: 1400px;
}
