.UserDetailsPageHeader {
    color: white;
    width: 100%;
    padding: 0 188px;
    display: flex;
    justify-content: start;

    .card {
        border: none;
        display: flex;
        width: 100%;
    }

    .info {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .name {
        font: var(--font-h1);
    }

    .role {
        margin-top: 16px;
        font: var(--font-h2);
    }

    @media (max-width: 1199px) {
        .name {
            font: var(--font-h2);
        }
        .role {
            font: var(--font-h3);
        }
    }

    @media (max-width: 991px) {
        .name {
            font: var(--font-h2);
        }

        .role {
            font: var(--font-h3);
        }
    }

    @media (max-width: 576px) {
        .card {
            flex-direction: column-reverse;
            align-items: center;
            margin: 64px 0;
        }
        .info {
            margin-left: 0;
        }

        .name {
            font: var(--font-h2);
            text-align: center;
        }

        .role {
            margin: 16px 0;
            font: var(--font-h3);
            text-align: center;
        }
    }
}

@media (max-width: 991px) {
    .UserDetailsPageHeader {
        padding: 0 80px;
        justify-content: center;

        .card {
            width: auto;
        }
    }
}

@media (max-width: 576px) {
    .UserDetailsPageHeader {
        padding: 0;
        display: block;
    }
}
