.UserCard {
    text-decoration: none;
    color: var(--black)
}

.card {
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        transform: scale(1.01);
    }
}

.avatar {
    margin-top: 24px;
}

.name {
    margin-top: 24px;
    font: var(--font-h3);
}

.like {
    margin-top: auto;
    align-self: end;
}
