.Button {
    cursor: pointer;
    color: var(--white);
    padding: 8px 16px;
    border-radius: 8px;
    background: var(--violet);
    border: none;
    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.clear {
    padding: 0;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--violet);
    color: var(--violet);
    background: none;
}

.outline_inverted {
    border: 1px solid var(--gray_light);
    color: var(--gray_light);
    background: none;
}

.square {
    width: 40px;
    height: 40px;
}

.fullWidth {
    width: 100%;
}

.size_m {
    font: var(--font-small);
}

.size_l {
    font: var(--font-normal);
    height: 48px;
}
