.Button {
    cursor: pointer;
    color: var(--white);
    padding: 6px 15px;
    border-radius: 8px;
    background: var(--violet);
    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--violet);
    color: var(--violet);
    background: none;
}

.outline_inverted {
    border: 1px solid var(--gray_light);
    color: var(--gray_light);
    background: none;
}

.fullWidth {
    width: 100%;
}