.Result {
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 16px;

    .icon {
        max-height: 60px;
        margin-bottom: 16px;
        position: relative;
        font-size: 1rem;
        text-align: center;
    }

    button {
        margin-top: 16px;
    }
}
