.UsersPageHeader {
    color: white;
    max-width: 846px;

    h1,
    p {
        text-align: center;
    }

    h1 {
        font: var(--font-h1);
    }

    p {
        margin-top: 16px;
        font: var(--font-h2);
    }

    @media (max-width: 767px) {
        h1 {
            font: var(--font-big);
        }
    
        p {
            font: var(--font-regular);
        }
    }
}

