.UsersPageHeader {
    color: white;
    max-width: 846px;

    h1,
    p {
        text-align: center;
    }

    h1 {
        font: var(--font-h1);
    }

    p {
        margin-top: 16px;
        font: var(--font-h3);
    }

    @media (max-width: 767px) {
        h1 {
            font: var(--font-h2);
        }

        p {
            font: var(--font-normal);
        }
    }
}

@media (max-width: 991px) {
    .UsersPageHeader {
        padding: 0 32px;
    }
}

@media (max-width: 576px) {
    .UsersPageHeader {
        padding: 0 16px;
    }
}
