.UserDetailsPage {
    height: 100vh;
    overflow-y: auto;

    h2 {
        color: var(--gray);
        font: var(--font-h2);
    }
}

.headerContent {
    color: white;
    max-width: 846px;

    h1,
    p {
        text-align: center;
    }
}
