.PageError {
    text-align: center;
    height: 100vh;
    overflow-y: auto;
    color: var(--violet);
    padding-top: calc( 100vh * .3);
    p {
        font: var(--font-h1);
        margin-bottom: 32px;
    }
}
