.PageError {
    text-align: center;
    overflow-y: auto;
    color: var(--violet);
    padding: 16px;
    padding-top: 64px;
    p {
        font: var(--font-h2);
        margin-bottom: 32px;
    }
}
