.Header {
    width: 100%;
    min-height: var(--navbar-height);
    background: var(--violet);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    nav {
        position: absolute;
        top: 32px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 80px;
    }
}

@media (max-width: 991px) {
    .Header {
        nav {
            padding: 0 32px;
            top: 16px;
        }
    }
}

@media (max-width: 576px) {
    .Header {
        nav {
            padding: 0 16px;
        }
    }
}
