.Header {
    width: 100%;
    height: var(--navbar-height);
    background: var(--violet);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 24px;
}

.logoutBtn {
    position: absolute;
    top: 32px;
    right: 80px;
}

.navBtnWrapper {
    position: absolute;
    top: 32px;
    left: 80px;
}

@media (max-width: 767px) {
    .logoutBtn {
        position: absolute;
        top: 16px;
        right: 32px;
    }

    .navBtnWrapper {
        position: absolute;
        top: 16px;
        left: 32px;
    }
}